# Dependencies
node_modules

# Build
dist
dist-ssr

# Local env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store

# Assets grandes (não versionar)
videos/
voice/
icons/
imgs/
logo/
*.mp4

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
